@import 'assets/scss/variables';

.mix-slide {
  padding-right: 10px;
  border-right: 1px solid $border-color;

  @media screen and (max-width: 1024px) {
    padding-left: 10px;
  }

  .wrapper-slider {
    width: 100%;
    height: 300px;
    position: relative;
    .slider {
      width: 100%;
      max-width: 100vw;
      height: auto;
      margin: auto;
      position: relative;
      // overflow: hidden;

      .list-image-slider {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .item-slider {
          width: 100%;
          height: 100%;
          position: absolute;
          opacity: 0;
          transition: opacity 1s ease-in-out;
          text-align: center;

          &.active {
            opacity: 1;
          }

          .content-item-slider {
            position: absolute;
            width: 100%;
            height: 270px;
            z-index: 9;
            border: solid 1px #7a7a7a;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            .wrapper-text-slider {
              position: absolute;
              left: 3%;
              bottom: -30px;
              width: 94%;
              height: auto;
              z-index: 10;
              background: rgba(255, 255, 255, 0.8);
              border: solid 1px #7a7a7a;
              backdrop-filter: blur(5px);

              .text-slide {
                color: $primary-text-color;
                font-weight: 800;
                font-size: 16px;
                padding-top: 10px;
                padding-bottom: 20px;
                padding-left: 10px;
                padding-right: 10px;

                &:hover {
                  color: $secondary-text-color;
                }
              }

              .dots {
                position: absolute;
                bottom: 0;
                left: 0;
                color: $secondary-text-color;
                width: 100%;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;

                li {
                  list-style: none;
                  width: 10px;
                  height: 10px;
                  background-color: #7a7a7a;
                  margin: 6px 3px;
                  border-radius: 20px;
                  transition: width 0.5s;

                  &.active {
                    width: 48px;
                    background-color: $secondary-text-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .news-bottom-slide {
    padding-top: 20px;
    ul {
      li {
        padding: 5px 0 5px 20px;
        color: #7a7a7a;
        font-weight: 700;
        font-size: 14px;

        &::before {
          background-color: #ed1c24;
          clear: none;
          content: '';
          display: block;
          float: left;
          margin: 7px 5px 0 -15px;
          padding: 0;
          height: 6px;
          width: 6px;
          transform: rotate(45deg);
        }

        &:hover {
          color: $secondary-text-color;
        }
      }
    }
  }
}
