@keyframes speed {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }
  25% {
    transform: translate(150%) scale(0.5);
    border-radius: 0;
  }
  50% {
    transform: translate(150%, 150%);
    border-radius: 50%;
  }
  75% {
    transform: translate(0, 150%) scale(0.5);
    border-radius: 0;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
  }

  80% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}
