@import 'variables';
@import 'animation';

@mixin form-label-transform($scale) {
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -o-transform: scale($scale);
  transform: scale($scale);
  transform-origin: left;
}

.form-group {
  .form-input {
    position: relative;

    &.float-up {
      z-index: 11;
    }

    &.float-up-over {
      z-index: 19;
    }

    .form-icon {
      font-size: 1rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @media screen and (max-width: 767px) {
        font-size: 0.8rem;
      }
    }

    label {
      &.required {
        &:after {
          content: '(*)';
          display: inline-block;
          position: absolute;
          left: auto;
          right: -15px;
          top: 45%;
          transform: translateY(-50%);
          color: $danger-color;
        }
      }
    }

    .form-label {
      position: absolute;
      top: 0;
      left: $form-margin-left;
      line-height: 40px;
      transition: all $transition-duration ease-in-out;
      z-index: 7;

      @media screen and (max-width: 767px) {
        left: $small-form-margin-left;
      }
    }

    // .select-label {
    //   position: absolute;
    //   top: -20px;
    //   left: 0;
    //   z-index: 7;
    //   @include form-label-transform(0.8);

    //   @media screen and (max-width: 1300px) {
    //     @include form-label-transform(0.7);
    //   }

    //   @media screen and (max-width: 768px) {
    //     top: -10px;
    //   }
    // }

    .animated--border {
      position: absolute;
      height: 1px;
      background-color: $lighter-secondary-color;
      left: $form-margin-left;
      bottom: 0;
      width: calc(100% - $form-margin-left);

      @media screen and (max-width: 767px) {
        left: $small-form-margin-left;
        width: calc(100% - $small-form-margin-left);
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        height: 2px;
        transition: all $transition-duration ease-in-out;
        background-color: $secondary-color;
      }

      &::after {
        right: 50%;
      }

      &::before {
        left: 50%;
      }
    }

    .form-control {
      position: relative;
      z-index: 1;
      width: calc(100% - $form-margin-left);
      height: 35px;
      outline: none;
      color: $color;
      font-size: $default-font-size;
      font-weight: 400;
      background: none;
      border: none;
      box-shadow: none;
      display: inline-block;
      float: right;

      &.form-bordered {
        border: 1px solid #a6baff;
        border-bottom: none;
      }

      @media screen and (max-width: 767px) {
        font-size: $default-mobile-font-size;
        width: calc(100% - $small-form-margin-left);
      }

      &.isset {
        ~ .form-label {
          @include form-label-transform(0.8);
          top: -30px;

          @media screen and (max-width: 1300px) {
            @include form-label-transform(0.7);
          }

          @media screen and (max-width: 768px) {
            top: -20px;
          }
        }
      }

      &:focus ~ .form-label,
      &.is-valid ~ .form-label,
      &.is-invalid ~ .form-label {
        @include form-label-transform(0.8);
        top: -25px;

        &.form-bordered {
          top: -30px;
        }
      }

      &:focus ~ .animated--border::after,
      &:focus ~ .animated--border::before {
        width: 50%;
      }

      &.is-invalid ~ .animated--border {
        &::after,
        &::before {
          background-color: $danger-color;
        }
      }

      &.is-invalid,
      &.is-valid {
        &.is-empty {
          ~ .form-label {
            @include form-label-transform(1);
            top: 0;
          }

          &:focus {
            ~ .form-label {
              @include form-label-transform(0.8);
              top: -25px;

              &.form-bordered {
                top: -30px;
              }
            }
          }
        }
      }

      &.is-invalid {
        ~ .form-label {
          color: $danger-color;
        }
      }
    }

    // .list-images {
    //   display: flex;
    //   flex-wrap: wrap;

    //   .image-item {
    //     width: 120px;
    //     margin: 15px 10px;
    //     position: relative;

    //     @media screen and (max-width: 767px) {
    //       width: 100px;
    //     }

    //     @media screen and (max-width: 575px) {
    //       width: 80px;
    //     }

    //     .remove-btn {
    //       transform: rotate(45deg);
    //       position: absolute;
    //       right: 4px;
    //       top: 4px;
    //       padding: 12px;
    //       display: flex;
    //       align-items: center;
    //       justify-content: center;
    //       cursor: pointer;
    //       background-color: $dark-mode-lighter-primary-color;
    //       border-radius: 50px;

    //       &:hover {
    //         opacity: 0.6;
    //       }

    //       &::before,
    //       &::after {
    //         position: absolute;
    //         content: '';
    //         background-color: $white-color;
    //       }

    //       &::before {
    //         width: 2px;
    //         height: 16px;
    //         left: 11px;
    //         top: 4px;
    //       }

    //       &::after {
    //         width: 16px;
    //         height: 2px;
    //         left: 4px;
    //         top: 11px;
    //       }
    //     }

    //     img {
    //       width: 100%;
    //     }
    //   }
    // }
  }

  .error {
    font-size: x-small;
    color: $danger-color;
    margin-top: 5px;
    padding-left: $form-margin-left;
    width: calc(100% - $form-margin-left);
    text-align: left;
    transition: all $transition-duration ease;

    @media screen and (max-width: 767px) {
      left: $small-form-margin-left;
      width: calc(100% - $small-form-margin-left);
    }

    &.error-effect {
      opacity: 1;
      top: 100%;
    }
  }

  &.form-no-icon {
    padding-top: 10px;

    &:first-child {
      padding-top: 0;
    }

    .form-input {
      .form-label {
        left: 0;
        padding-left: 5px;

        @media screen and (max-width: 767px) {
          left: 0;
        }
      }

      .animated--border {
        left: 0;
        width: 100%;
        background-color: #a6baff;

        &.form-bordered {
          width: calc(100% - 4px);
          left: 2px;
        }

        @media screen and (max-width: 767px) {
          left: 0;
          width: 100%;
        }
      }

      .form-control {
        width: 100%;

        @media screen and (max-width: 767px) {
          width: 100%;
        }
      }
    }
    .error {
      left: 0;
      padding-left: 0;
      width: 100%;

      @media screen and (max-width: 767px) {
        left: 0;
        width: 100%;
      }
    }
  }
}

.custom-checkbox {
  .custom-control-label {
    cursor: pointer;
    line-height: 24px;
  }
}

.custom-select {
  &.select-form {
    font-size: 16px;
    height: 38px;
    box-shadow: none;
  }

  &.category-management-select-form {
    height: 34px;
    width: 80%;
    box-shadow: none;
    font-size: 14px;
  }
}
