@import 'variables';

.modal {
  .modal-dialog {
    .modal-content {
      border-radius: 16px;
      border-color: $primary-color;
      box-shadow: 0 0.46875rem 2.1875rem rgba(236, 242, 248, 0.1),
        0 0.9375rem 1.40625rem rgba(236, 242, 248, 0.1),
        0 0.25rem 0.53125rem rgba(236, 242, 248, 0.2),
        0 0.125rem 0.1875rem rgba(236, 242, 248, 0.1);
      padding: 15px;

      .modal-body {
        text-align: center;
        display: flex;
        justify-content: center;

        .modal-close__button {
          transform: rotate(45deg);
          position: absolute;
          right: -30px;
          top: -45px;
          padding: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }

          &::before,
          &::after {
            position: absolute;
            content: '';
            border-radius: 1px;
            background-color: $white-color;
          }

          &::before {
            width: 2px;
            height: 20px;
            left: 13px;
            top: 5px;
          }

          &::after {
            width: 20px;
            height: 2px;
            left: 4px;
            top: 14px;
          }
        }

        .modal__sentence {
          font-weight: 600;
        }

        .form {
          margin-top: 20px;
          text-align: left;
        }

        .modal-icon {
          width: 50px;
          height: 50px;
          border-radius: 100%;
          font-size: 21px;
          display: flex;
          align-items: center;
          justify-content: center;

          &.icon-delete {
            background-color: #ffe9e8;
            border: 1px solid #ffe9e8;
            color: #dd413b;
          }

          &.icon-action {
            background-color: #e1e2fc;
            border: 1px solid #e1e2fc;
            color: #444de7;
          }
        }
      }

      .modal-footer {
        padding-top: 0;

        .modal-wrapper-content-footer {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .modal-title-content-footer {
            font-size: 30px;
            font-weight: 600;
            margin-top: -10px;
            color: $primary-text-color;
          }

          .modal-describe-content-footer {
            font-size: 16px;
          }

          .modal-wrapper-btn-content-footer {
            display: flex;
            gap: 20px;
            padding-top: 30px;
            padding-bottom: 20px;

            .btn-confirm {
              height: 38px;
              padding: 0px 20px;
              font-size: 16px;
              font-weight: 600;

              &.btn-oke {
                background-color: #ffe9e8;
                border: 1px solid #ffe9e8;
                color: #d92e21;

                &:hover {
                  background-color: #f7af9d;
                }
              }

              &.btn-cancel {
                background-color: #e1e2fc;
                border: 1px solid #e1e2fc;
                color: #444de7;

                &:hover {
                  background-color: #a1cdf4;
                }
              }
            }
          }
        }
      }
    }
  }

  &#modal__image {
    .modal-dialog {
      .modal-content {
        border-radius: 5px;
        border-color: $black-color;
        padding: 0;

        .modal-body {
          position: relative;
          padding: 0;

          .modal-close__button {
            transform: rotate(45deg);
            position: absolute;
            right: 0;
            top: -30px;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover {
              opacity: 0.9;
            }

            &::before,
            &::after {
              position: absolute;
              content: '';
              border-radius: 2px;
              background-color: $white-color;
            }

            &::before {
              width: 2px;
              height: 20px;
              left: 13px;
              top: 5px;
            }

            &::after {
              width: 20px;
              height: 2px;
              left: 4px;
              top: 14px;
            }
          }
        }
      }
    }
  }
}

.dark-mode {
  .modal-dialog {
    .modal-content {
      border-color: $dark-mode-primary-color;
      background-color: $dark-mode-bg;
      box-shadow: 0 0.46875rem 2.1875rem rgb(126, 126, 126),
        0 0.9375rem 1.40625rem rgb(129, 129, 129),
        0 0.25rem 0.53125rem rgb(94, 94, 94),
        0 0.125rem 0.1875rem rgb(66, 66, 66);
    }
  }
}
