@import 'variables';

.vgt-wrap {
  .vgt-inner-wrap {
    box-shadow: unset;

    table {
      &.vgt-table {
        background-color: transparent;
        border: none;
        font-size: inherit;
      }

      thead {
        th {
          word-break: keep-all;
          white-space: nowrap;
          text-transform: uppercase;
          vertical-align: middle;
          text-align: center;
          padding: 10px 12px;
          font-size: 16px;
          background: $green-color;
          color: $white-color;
        }
      }

      tbody {
        tr {
          font-size: 14px;

          &:nth-child(odd) {
            background-color: #f2f2f2;
          }

          &:hover {
            background-color: rgb(226, 231, 252);
          }

          td {
            vertical-align: middle;
            word-break: keep-all;
          }
        }
      }
    }
  }
}

// @mixin width-column($width) {
//   width: $width !important;
//   min-width: $width !important;
//   max-width: $width !important;
// }

// .vgt-wrap {
//   margin-bottom: 20px;
//   max-width: calc(100vw - 60px);

//   @media screen and (max-width: 991px) {
//     max-width: calc(100vw - 40px);
//   }

//   .vgt-inner-wrap {
//     box-shadow: unset;

//     .vgt-responsive {
//       &::-webkit-scrollbar {
//         height: 10px !important;
//       }

//       @media screen and (max-width: 767px) {
//         &::-webkit-scrollbar {
//           height: 2px !important;
//         }
//       }

//       table {
//         &.vgt-table {
//           background-color: transparent;
//           border: none;
//           font-size: inherit;
//         }

//         thead {
//           th {
//             background: $lightest-primary-color;
//             color: $dark-mode-primary-color;
//             word-break: keep-all;
//             white-space: nowrap;
//             text-transform: uppercase;
//             vertical-align: middle;
//             border: none;
//             padding: 7px 12px;

//             &.action-1 {
//               @include width-column(150px);

//               @media screen and (max-width: 767px) {
//                 @include width-column(80px);
//               }
//             }

//             &.action,
//             &.action-1 {
//               position: sticky;
//               right: 0;
//             }

//             &.point-col {
//               width: 240px !important;
//               min-width: 240px !important;
//             }

//             &.image {
//               @include width-column(100px);

//               @media screen and (max-width: 767px) {
//                 @include width-column(80px);
//               }
//             }
//           }
//         }

//         tbody {
//           tr {
//             background-color: $primary-color;
//             z-index: 1;

//             &:not(&:last-child) {
//               border-bottom: 1px solid $light-secondary-color;
//             }

//             &:hover {
//               background-color: rgb(226, 231, 252);
//             }

//             td {
//               border: none;
//               vertical-align: middle;
//               word-break: keep-all;
//               white-space: nowrap;

//               &.action,
//               &.action-1 {
//                 position: sticky;
//                 right: 0;
//                 background-color: $primary-color;
//               }

//               &.action {
//                 min-width: 100px !important;
//                 width: 100px !important;

//                 @media screen and (max-width: 767px) {
//                   min-width: 60px !important;
//                   width: 60px !important;
//                 }

//                 button {
//                   &:not(&:first-child) {
//                     margin-left: 20px;

//                     @media screen and (max-width: 767px) {
//                       margin-left: 10px;
//                     }
//                   }
//                 }
//               }

//               &.action-1 {
//                 @include width-column(150px);

//                 @media screen and (max-width: 767px) {
//                   @include width-column(80px);
//                 }
//               }

//               &.image {
//                 @include width-column(100px);

//                 @media screen and (max-width: 767px) {
//                   @include width-column(80px);
//                 }
//               }

//               .label {
//                 text-align: center;
//                 text-transform: uppercase;
//                 word-break: keep-all;
//                 white-space: nowrap;
//                 padding: 5px 10px;
//                 border-radius: 5px;
//                 color: $white-color;
//                 max-width: 180px;
//                 border: 1px solid $secondary-color;
//                 background-color: $secondary-color;
//               }

//               &.has-message {
//                 width: 300px;
//                 word-break: break-all;
//                 white-space: normal;

//                 .text-color {
//                   &.pointFromCredit {
//                     color: $secondary-color;
//                   }

//                   &.pointLotto {
//                     color: $intermediate-color;
//                   }

//                   &.cardToPoint {
//                     color: #539391;
//                   }

//                   &.pointRefund {
//                     color: $danger-color;
//                   }

//                   &.adminDeleteCard {
//                     color: #59afe1;
//                   }

//                   &.pointDistribution {
//                     color: $success-color;
//                   }
//                 }
//               }

//               .type {
//                 @extend .label;

//                 &.normal {
//                   border: 1px solid $secondary-color;
//                   background-color: $secondary-color;
//                 }

//                 &.special {
//                   border: 1px solid $intermediate-color;
//                   background-color: $intermediate-color;
//                 }
//               }

//               .status {
//                 padding: 5px;
//                 width: 180px;
//                 min-width: 180px;
//                 margin: 0 auto;
//                 color: $white-color;
//                 border-radius: 5px;
//                 text-align: center;
//                 text-transform: uppercase;

//                 &.ready-to-ship {
//                   border: 1px solid rgb(97, 118, 247);
//                   background-color: $white-color;
//                   color: rgb(97, 118, 247);
//                 }

//                 &.product-shipping {
//                   border: 1px solid rgb(255, 166, 62);
//                   background-color: $white-color;
//                   color: rgb(255, 166, 62);
//                 }

//                 &.shipping-to-the-delivery-store {
//                   border: 1px solid rgb(97, 118, 247);
//                   background-color: rgb(97, 118, 247);
//                 }

//                 &.storage {
//                   border: 1px solid #539391;
//                   background-color: #539391;
//                 }

//                 &.delivery {
//                   border: 1px solid #59afe1;
//                   background-color: #59afe1;
//                 }

//                 &.absent {
//                   border: 1px solid $black-color;
//                   background-color: $black-color;
//                 }

//                 &.completed-delivery {
//                   border: 1px solid $success-color;
//                   background-color: $success-color;
//                 }

//                 &.delivery-failed {
//                   border: 1px solid $danger-color;
//                   background-color: $danger-color;
//                 }
//               }

//               .rarity {
//                 font-weight: 600;
//                 color: $white-color;
//                 width: 40px;
//                 height: 40px;
//                 border-radius: 40px;
//                 line-height: 40px;
//                 animation: scale 0.5s linear alternate forwards;

//                 &.low {
//                   background-color: $danger-color;
//                 }

//                 &.medium {
//                   background-color: $dark-green-color;
//                 }

//                 &.high {
//                   background-color: $dark-yellow-color;
//                 }
//               }

//               .table-image-small {
//                 width: 70px;
//                 max-height: 100px;
//                 margin: 0 5px;
//               }

//               .list-image-wrapper {
//                 margin-top: 10px;

//                 .image-item {
//                   width: 70px;
//                   margin: 0 5px;

//                   .image-preview {
//                     width: 100%;
//                   }
//                 }
//               }

//               .wrap-text {
//                 width: 300px;
//                 display: flex;
//                 flex-wrap: wrap;
//               }

//               .status-box-history {
//                 max-width: 280px;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

// table {
//   &.table-border {
//     tr {
//       td {
//         border: 1px solid $secondary-color;

//         &:first-child {
//           padding: 5px 30px 5px 15px;
//           font-weight: 600;
//         }

//         &:last-child {
//           padding: 5px 60px 5px 15px;
//         }
//       }
//     }
//   }

//   &.table-border-list {
//     tr {
//       td {
//         border: 1px solid $secondary-color;
//         padding: 5px 40px 5px 15px;
//       }
//     }
//   }
// }
