@import 'assets/scss/variables';
// @import 'assets/scss/button';
// @import 'assets/scss/list';
@import 'assets/scss/form';
@import 'assets/scss/modal';
// @import 'assets/scss/progress';
// @import 'assets/scss/carousel';
@import 'assets/scss/tabs';
// @import 'assets/scss/dropdown';
@import 'assets/scss/pagination';

@font-face {
  font-family: 'Stafford';
  src: url('~assets/fonts/stafford/SFUStaffordBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

$stafford: 'Stafford', serif;

$mulish: 'Mulish', sans-serif;

@mixin scroll-bar {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;

    @media screen and (max-width: 991px) {
      width: 6px;
      height: 6px;
    }

    @media screen and (max-width: 767px) {
      width: 6px;
      height: 2px;
    }
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px transparent;
    -webkit-box-shadow: inset 0 0 20px transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-image: -webkit-linear-gradient(
      top,
      rgba(97, 118, 247, 0.8),
      rgba(133, 160, 254, 0.8)
    );
  }
}

html {
  min-width: 370px;
  overflow-y: overlay !important;
  overflow-x: auto !important;
  @include scroll-bar;
}

// Styles
body {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: $default-font-size;
  @include scroll-bar;

  font-family: $mulish;

  @media screen and (max-width: 767px) {
    font-size: $default-mobile-font-size;
  }

  a {
    color: unset;

    &:hover {
      text-decoration: none;
      @extend a;
    }
  }

  input {
    line-height: inherit;

    &:focus {
      outline: none;
    }
  }

  h4 {
    &.heading {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600 !important;
      margin: 0;

      @media screen and (max-width: 767px) {
        font-size: 17px;
      }
    }
  }

  h5 {
    &.heading {
      text-transform: uppercase;
      font-size: 16px;
      margin: 0;
      font-weight: 600 !important;

      @media screen and (max-width: 767px) {
        font-size: 15px;
      }
    }
  }

  .mulish-font {
    font-family: $mulish;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }
}

// Transition
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.cont-wrap {
  max-width: 1296px;
  min-width: 320px;
}

.row {
  margin: 0 !important;
}

.col-content {
  width: auto;
  max-width: 100%;
  float: left;
}

.cont-view {
  max-width: 856px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}

.pad-320 {
  @media screen and (min-width: 1024px) {
    width: calc(100% - 320px);
    border-right: 1px solid $border-color;
  }
  width: 100%;
}

.fit-320 {
  @media screen and (min-width: 1024px) {
    width: 320px;
    padding-left: 10px;
  }
  width: 100%;
}

.w50 {
  @media screen and (min-width: 1024px) {
    width: 50%;
  }
  width: 100%;
}

.pad-450 {
  @media screen and (min-width: 1024px) {
    width: calc(100% - 640px);
    border-right: 1px solid $border-color;
  }
  width: 100%;
}

.fit-450 {
  @media screen and (min-width: 1024px) {
    width: 640px;
    padding-left: 10px;
  }
  width: 100%;
}

.nav-profile {
  .btn {
    display: flex;
    align-items: center;
    box-shadow: none !important;

    &.dropdown-toggle {
      background-color: transparent !important;
      user-select: none;
      transition: color 0.15s, background-color 0.15s, border-color 0.15s,
        box-shadow 0.15s;
      border: none;
    }

    &::after {
      display: none;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.top-management {
  .btn {
    box-shadow: none !important;

    &.dropdown-toggle {
      background-color: transparent !important;
      user-select: none;
      transition: color 0.15s, background-color 0.15s, border-color 0.15s,
        box-shadow 0.15s;
      width: 160px;
      border: 1px solid $primary-text-color;
      color: $primary-text-color;
      border-radius: 10px;
    }

    &::after {
      display: none;
    }
  }
}

.quillWrapper {
  height: 500px;
}

.btn-close {
  display: block;
  background-color: #c0392b;
  border-radius: 10px;
  border: 1px solid #c0392b;
  width: 120px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: $transition-btn-close;

  span,
  .icon {
    display: block;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
  }

  span {
    width: 72%;
    line-height: inherit;
    font-size: 16px;
    left: 0;
    transition: $transition-btn-close;

    &:after {
      content: '';
      background-color: #a53125;
      width: 2px;
      height: 70%;
      position: absolute;
      top: 15%;
      right: -1px;
    }
  }

  .icon {
    width: 28%;
    right: 0;
    transition: $transition-btn-close;

    .fa {
      font-size: 16px;
      vertical-align: middle;
      transition: $transition-btn-close, height 0.25s ease;
    }
  }

  &:hover {
    span {
      left: -72%;
      opacity: 0;
    }

    .icon {
      width: 100%;

      .fa {
        font-size: 24px;
      }
    }
  }
}
