@import 'assets/scss/variables';

.switch-lang {
  .btn {
    display: flex;
    align-items: center;
    box-shadow: none !important;

    &.dropdown-toggle {
      background-color: transparent !important;
      user-select: none;
      transition: color 0.15s, background-color 0.15s, border-color 0.15s,
        box-shadow 0.15s;
    }

    &::after {
      display: none;
    }

    &:hover {
      opacity: 0.8;
    }

    .btn-bg {
      display: flex;
      align-items: center;
      transition: opacity 0.3s;

      .main-lang {
        width: 32px;
        height: 21px;
      }

      .main-lang-text {
        color: $primary-text-color;
        padding-left: 5px;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .dropdown-menu {
    min-width: 220px;
    li {
      .dropdown-item {
        display: flex;
        align-items: center;
        padding: 7px 24px;

        .item-lang-image {
          width: 32px;
          height: 21px;
          margin-right: 15px;
        }

        .item-lang-text {
          font-size: 14px;
        }
      }
    }
  }
}
