@import 'assets/scss/variables';

.list-article {
  padding-right: 10px;

  @media screen and (max-width: 1024px) {
    padding-left: 10px;
  }

  .item-article {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;

    &:first-child {
      padding-top: 0;
    }

    .thumb-art-article {
      width: 35%;
      height: 150px;

      @media screen and (max-width: 1024px) {
        width: 40%;
        height: 120px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .title-article {
      flex: 1;
      padding-left: 10px;

      h4 {
        font-size: 18px;
        font-weight: 700;
      }

      .des-article {
        font-size: 14px;
      }
    }
  }
}
